/* Home */
*{
    box-sizing: border-box;
}

#header{
    background-color: black;
    width: 100%;
    height: auto;
    color: white;
    
}


.tituloPrincipal{
    font-size: 40px;
    background-image:url(../Imagenes/autoIcon.png);
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: 17% 100%;
    padding-left: 10px;
    padding-top: 10px;
}

div.imagenLogoSup{
    height: 90px;
    background-size: cover;
    text-align: center;
}



div.textoLogo{
    text-align: left;
    padding-left: 3%;
    font-size: 18px;
    
}

ul li{
    display: inline;
    letter-spacing: 4px;
}

#header .menuSuperior ul li a{
    text-decoration: none;
    color: white;
    
}
#header .menuSuperior ul li a:hover{
    color: crimson;
    font-weight: bold;
    
}


nav.menuSuperior{
    display: inline;
    font-size: 15px;
    height: 20px;
    text-align: right;
    padding-right;: 50px;
}
nav.menuSuperior ul li a span{
    font-size: 25px;
    color: white;
}



/* body index */
body{
    background-color:rgb(37, 39, 34);
    width: 100%;
    color: white;
}

#portada{
    width: 100%;
    height: auto;
    
}
#portada .TituloPrincipal{
    width: 100%;
    height: 400px;
    font-size: 75px;
    color: seashell;
    text-align: center;
    background-image: url(../Imagenes/finca.jfif);
    background-size: 100% 400px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 200px;
    opacity: 0.7;
    
}
.TituloPrincipal{
    letter-spacing: 80px;
}

.TituloPrincipal span:hover{
    color: gainsboro
}
.winery{
    display: block;
    text-align: center;
    font-size: 30px;
    letter-spacing: 30px;
    padding-top: 10px;
}
/* h4{
    width: 100%;
    height: 400px;
    font-size: 75px;
    color: white;
    text-align: center;
    background-image: url(../Imagenes/viñedoPortada1.jpeg);
    background-size: 100% 400px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 200px;
    opacity: 0.7;
} */

#servicio{
    width: 100%;
    height: auto;
    font-size: 30px;
    
    

}

.tituloServicio{
    text-align: center;
    padding: 3%;
}

#servicio p.textoCopas{
    width: 20%;
    height: 20%;
    display: inline-block;
    text-align: right;
    font-size: 30px;
    padding-top: 100px;
   
}


img.imgCopas{
    width: 35%;
    height: 400px;
    margin-left: 1%;
    padding-top: 1px;
}
img.imgChofer{
    width: 35%;
    height: 400px;
    margin-left: 64%;
    
    
    
}
.textoChofer{
    width: 20%;
    height: 20%;
    display: block;
    text-align: left;
    font-size: 30px;
    margin-left: 30%;
    

    
}


/* Footer */


#footer{
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    
}

nav.menuInferior{
    padding-top: 50px;
}

nav.menuInferior ul li a{
    text-decoration: none;
    color: white;
    width: 100%;
    height: 20px;
    padding-top: 50px;
}
nav.menuInferior ul li a span{
    font-size: 25px;
    color: white;
}
.menuInferior ul li a:hover{
    color: crimson;
    font-weight: bold;
    
}
div.imagenLogoFoot{
    padding: 20px;
}

div.copy{
    padding: 50px;
}

p.gracias{
    font-size: 12px;
    letter-spacing:2px;
}


/* Recorridos */

#recorridos{
    width: 100%;
    height: auto;
}
.titulo{
    text-align: center;
    font-size: 30px;
    padding:30px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 3px;
}
.reseñaBodega{
    text-align: center;

}
.textRigth{
    width: 30%;
    height: 20%;
    display: block;
    text-align: right;
    margin-left: 50%;
    padding: 20px;
}

.circuito .imgCircuito{
    width: 250px;
    height: 250px;
}

.proximamente{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;

}


/* Cotizar ruta */
#cotizar{
    width: 100%;
    height: auto;
    
}

.tituloCotizar{
    font-size: 40px;
    padding: 15px;
    text-align: center;
}

.individual{
    padding: 15px;
    text-align: left;
}

.compartido{
    text-align: right;
}

.tituloModalidad{
    font-size: 30px;
    padding: 15px;
    
}
.textoMod{
    display: inline;
}
.imgIndivudual{
    width: 450px;
    height: 320px;
}

.imgCompartido{
    width: 450px;
    height: 320px;
}


.reservar{
    text-align: left;
}

.tituloReserva{
    font-size: 20px;
    padding: 30px;
}
ul.pasosReserva li{
    display: block;
    padding: 10px;
    text-align: left;
    list-style: circle;
    
}
li

/* Nosotros */
#nosotros{
    width: 100%;
    height: auto;
}
.tituloNosotros{
    font-size: 30px;
    padding: 20px;
    text-align: center;
}


/* Contacto */
#contacto{
    width: 100%;
    height: auto;
    text-align: center;
}

form{
    padding-left: 40%;

}
.tituloCalidad{
    font-size: 30px;
    padding: 50px;
    text-align: center;
}

.contanos{
    font-size: 20px;
    padding-left: 50px;
    padding-bottom: 50px;
    text-align: center;
    
}

.formulario{
    display: block;
    
}

.ubicacion{
    text-align: center;
    padding: 50px;
}

.ubicacion h3{
    font-size: 20px;
    font-weight: bold;
    padding: 50px;
}

.formulario{
    display: block;
    padding: 20px;
    text-align: left;
}

.formulario .mensaje{
    display: block;
    padding-bottom: 10px;
}


