/* header */

#header{
    background-color: black;
    height: auto;
    color: white;
    gap: 2px;
    font-family: 'Montserrat', sans-serif;

    .logo__nav{
        display: flex;
        width: 100%;
        height: auto;
        padding-left: 3%;
        justify-content: space-between;

        &__img{
            width: auto;
            padding: 1%;
        }

    }

    .nav__top{
        font-size: 1rem;
        justify-self: end;
        align-self:center;
        padding-right: 3%;
        padding-top: 2%;

        & ul li a{
            text-decoration: none;
            color: white; 
        }
        & ul li a:hover{
            background-color: #4c4c4c;
            border: 2px solid #4c4c4c;
            border-radius: 5px;
            font-weight: bold;  
        }
        & ul li a:active{
    
            font-weight: bold;
            color: crimson;
        }
        & ul li a span{
    
            font-size: 3rem;
            color: white;
        }

    }
}