/* vars */

$colorBg: #252722;
$colorNavHov: crimson;
$colorCopy: #ffffff70;
$colorGradient: linear-gradient(#621f80, #0c0808);
$colorFormBg: hwb(185deg 83% 11% / 9%);
$colorH1: #a596cf;

/* cierre vars */